* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(251, 236, 194);
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-y: hidden;

    background-image: url("../images/bg_select.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

.btn__NEXT {
    width: 60vh;
    display: inline-block;
    position: absolute;
    top: 73%;
    /* ↑or55 */
    left: 70%;
    transform: translate3d(-50%, -50%, 0);
    transition: .1s transform;
}

.btn__NEXT:hover {
    transform: translate3d(-50%, -50%, 0) scale(1.1);
}

.btn__NEXT img {
    width: 100%;
}

.btn__back {
    width: 60vh;
    display: inline-block;
    position: absolute;
    top: 73%;
    /* ↑or55 */
    left: 30%;
    transform: translate3d(-50%, -50%, 0);
    transition: .1s transform;
}

.btn__back:hover {
    transform: translate3d(-50%, -50%, 0) scale(1.1);
}

.btn__back img {
    width: 110%;
}