body{
    background-image: url("../images/main.JPEG");
    background-color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    }

.button-container{

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}