* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(251, 236, 194);
}

video{
    position: absolute;
    width: 104vh;
    height: 60vh;
    top: 32%;
    left: 50%;
    transform: translate(-50%,-25%);
    /* margin: 0; */
    z-index: 1;
    
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-y: hidden;

    background-image: url("../images/bgmv.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

.btn__back {
    width: 60vh;
    display: inline-block;
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: .1s transform;
}

.btn__qr:hover {
    transform: translate3d(-50%, -50%, 0) scale(1.1);
}

.btn__back img {
    width: 100%;
}





