body{
    background-image: url("/images/movie.JPEG");
}


video{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-25%);
    max-width: 80%;
    max-height: 80%;
    margin: 0;
}

button{

    /* color: ; */
    /* background: ; */
    width: 15em;
    height: 5em;
    font-size: 16px;
    font-weight: 900;
}

.button-container2{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-85%);
}

.text-Box{

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);

    /* color: ; */
    font-size: 30px;
    font-weight: 900;
    /* text-align: center; */

}

