body{
    background-image: url("背景2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


/* button{

    width: 13em;
    height: 3em;
    font-weight: 900;
    font-size: 50px;

} */


.button-container{

    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%,-50%);
}